<html lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/components/bs-filestyle.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<style>
		.tab-container label {
			cursor: text;
		}

		.modal-body label {
			cursor: default;
		}

		.tab-container .dataTables_length label {
			font-weight: normal !important;
			text-align: left;
			padding-left: 30px;
		}

		div.dataTables_wrapper div.dataTables_filter {
			text-align: right;
			padding-right: 30px;
		}

		.hidetab {
			display: none;
		}

		.table-responsive {
			overflow-x: hidden;
		}

		/* auto generate start*/
		div.dataTables_wrapper div.dataTables_length select {
			width: auto;
			display: inline-block;
		}

		div.dataTables_wrapper div.dataTables_filter input {
			margin-left: .5em;
			display: inline-block;
			width: auto;
		}

		div.dataTables_wrapper div.dataTables_info {
			padding-top: .85em;
		}

		div.dataTables_wrapper div.dataTables_paginate ul.pagination {
			margin: 2px 0;
			white-space: nowrap;
			justify-content: flex-end;
		}

		.file-caption.icon-visible .file-caption-name {
			font-family: 'Lato', sans-serif;
			color: #666;
		}

		.showtab {
			display: block;
		}

		.content-wrap .container {
			max-width: none !important;
			padding-right: 100px !important;
			padding-left: 100px !important;
		}

		.table-hover tr th {
			text-align: center
		}

		.table-hover tr td {
			text-align: center;
			vertical-align: middle;
		}

		.table-hover tr td img {
			height: 96px;
			cursor: default;
		}

		#datatable1 tr th {
			cursor: pointer;
		}

		.bold-text {
			font-weight: bold;
			color: red;
		}

		.fixed-width-button {
			width: 100px;
		}

		.btn-disabled {
			cursor: not-allowed;
			opacity: 0.4;
		}

		.btn-disabled.button-blue:hover {
			background-color: rgb(190, 200, 210) !important;
		}

		#datatable3 td,
		#datatable3 th {
			text-align: center;
			vertical-align: middle;
		}
	</style>

	<title>Management</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
    ============================================= -->
		<header id="header" class="full-header" data-sticky-shrink="false">
			<div id="header-wrap" class="">
				<div class="container" style="padding-right: 0 !important;">
					<div class="header-row top-search-parent">

						<div id="logo">
							<a href="#" class="standard-logo" data-dark-logo="images/logo-dark.png"><img
									src="images/mylogo.jpg" alt="Canvas Logo" style="height: 100px;"></a>
							<a href="#" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img
									src="images/mylogo@2x.jpg" alt="Canvas Logo" style="height: 100px;"></a>
						</div>

						<nav class="primary-menu">
							<ul class="menu-container">
								<li class="menu-item sub-menu">
									<a class="menu-link" href="#"
										style="padding-top: 39px; padding-bottom: 39px;cursor: default">
										<div>Management system<i class="icon-angle-down"></i></div>
									</a>
									<button class="sub-menu-trigger icon-chevron-right"></button>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="header-wrap-clone" style="height: 100px;"></div>
		</header>

		<!-- Content
    ============================================= -->
		<div id="modal_edit" class="modal fade bs-example-modal-scrollable" tabindex="-1"
			aria-labelledby="scrollableModalLabel" style="display: none; --bs-modal-width: 50% !important;"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Edit a product</h4>
						<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
							aria-hidden="true"></button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="input-edit-name">Product name:</label>
							<input type="text" class="form-control" id="input-edit-name" placeholder="">
						</div>
						<div class="form-group">
							<label>Upload images:</label>
							<div style="display: none" id="input-edit-img_val"></div>
							<input type="file" id="input-edit-img" name="input-edit-img"
								class="file-loading form-select required" data-show-preview="true" multiple
								accept="image/png,image/jpeg" />
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Price($):</label>
								<input type="text" name="jobs-application-phone" id="input-edit-price"
									class="form-control required" value="" placeholder="">
							</div>
							<div class="col-md-6 form-group">
								<label>Inventory:</label>
								<input type="text" name="jobs-application-phone" id="input-edit-inventory"
									class="form-control required" value="" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Type:</label>
								<select class="form-select required" name="input-edit-type" id="input-edit-type">
									<option value="">-- Select Type --</option>
									<option value="dress">dresses</option>
									<option value="tops">Tops</option>
									<option value="jeans">Jeans</option>
									<option value="pants">Pants</option>
									<option value="skirts">Skirts</option>
								</select>
							</div>
							<div class="col-md-6 form-group">
								<label>Is on sale:</label>
								<div class="btn-group d-flex" data-bs-toggle="buttons">
									<input type="radio" class="btn-check" name="input-edit-issale"
										id="input-edit-issale-sale" value="yes">
									<label class="btn btn-outline-secondary nott ls0" for="input-edit-issale-sale"
										style="cursor: pointer">Sale</label>
									<input type="radio" class="btn-check" name="input-edit-issale"
										id="input-edit-issale-notsale" value="no">
									<label class="btn btn-outline-secondary nott ls0" for="input-edit-issale-notsale"
										style="cursor: pointer">Not sale</label>
								</div>
							</div>
							<div class="col-12 form-group">
								<label>Product description:</label>
								<textarea name="input-edit-des" id="input-edit-des" class="form-control valid" cols="30"
									rows="5" style="height: 240px;"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="close_product_edit" type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button id="submit_product_edit" type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>

		</div>
		<div id="modal_add" class="modal fade bs-example-modal-scrollable" tabindex="-1"
			aria-labelledby="scrollableModalLabel" style="display: none; --bs-modal-width: 60% !important;"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add a product</h4>
						<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
							aria-hidden="true"></button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="input-add-name">Product name:</label>
							<input type="text" class="form-control" id="input-add-name" placeholder="">
						</div>
						<div class="form-group">
							<label>Upload images:</label>
							<div style="display: none" id="input-add-img_val"></div>
							<input type="file" id="input-add-img" name="input-add-img"
								class="file-loading form-select required" data-show-preview="true" multiple
								accept="image/png,image/jpeg" />
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Price($):</label>
								<input type="text" name="jobs-application-phone" id="input-add-price"
									class="form-control required" value="" placeholder="">
							</div>
							<div class="col-md-6 form-group">
								<label>Inventory:</label>
								<input type="text" name="jobs-application-phone" id="input-add-inventory"
									class="form-control required" value="" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Type:</label>
								<select class="form-select required" name="input-add-type" id="input-add-type">
									<option value="">-- Select Type --</option>
									<option value="dresses">dresses</option>
									<option value="tops">Tops</option>
									<option value="jeans">Jeans</option>
									<option value="pants">Pants</option>
									<option value="skirts">Skirts</option>
								</select>
							</div>
							<div class="col-md-6 form-group">
								<label>Is on sale:</label>
								<div class="btn-group d-flex" data-bs-toggle="buttons">
									<input type="radio" class="btn-check" name="input-add-issale"
										id="input-add-issale-sale" value="yes">
									<label class="btn btn-outline-secondary nott ls0" for="input-add-issale-sale"
										style="cursor: pointer">Sale</label>
									<input type="radio" class="btn-check" name="input-add-issale"
										id="input-add-issale-notsale" value="no">
									<label class="btn btn-outline-secondary nott ls0" for="input-add-issale-notsale"
										style="cursor: pointer">Not sale</label>
								</div>
							</div>
							<div class="col-12 form-group">
								<label>Product description:</label>
								<textarea name="input-add-des" id="input-add-des" class="form-control valid" cols="30"
									rows="5" style="height: 240px;"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="close_product_add" type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button id="submit_product_add" onclick="submit_product_add_click(this)" type="button"
							class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>

		</div>
		<div id="modal_customer_edit" class="modal fade bs-example-modal-scrollable" tabindex="-1"
			aria-labelledby="scrollableModalLabel" style="display: none; --bs-modal-width: 30% !important;"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Edit the customer info</h4>
						<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
							aria-hidden="true"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-10 offset-md-1 form-group">
								<label>customer name:</label>
								<input style="cursor: default;" type="text" name="jobs-application-phone"
									id="input-customer-edit-name" class="form-control required" value="" placeholder=""
									readonly>
							</div>
							<div class="col-md-10 offset-md-1 form-group">
								<label>Password:</label>
								<input type="text" name="jobs-application-phone" id="input-customer-edit-password"
									class="form-control required" value="" placeholder="">
							</div>
						</div>

						<div class="row">
							<div class="col-md-10 offset-md-1 form-group">
								<label>Email:</label>
								<input type="text" name="jobs-application-phone" id="input-customer-edit-email"
									class="form-control required" value="" placeholder="">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="close_customer_edit" type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button id="submit_customer_edit" type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>

		</div>
		<div id="modal_customer_add" class="modal fade bs-example-modal-scrollable" tabindex="-1"
			aria-labelledby="scrollableModalLabel" style="display: none; --bs-modal-width: 50% !important;"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add a new Manager:</h4>
						<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
							aria-hidden="true"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Manager Name:</label>
								<input type="text" name="jobs-application-phone" id="input-manager-add-name"
									class="form-control required" value="" placeholder="">
							</div>
							<div class="col-md-6 form-group">
								<label>Manager Password:</label>
								<input type="text" name="jobs-application-phone" id="input-manager-add-password"
									class="form-control required" value="" placeholder="">
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 form-group">
								<label>Manager Email:</label>
								<input type="text" name="jobs-application-phone" id="input-manager-add-email"
									class="form-control required" value="" placeholder="">
							</div>
							<div class="col-md-5 offset-md-1 form-group align-self-end">
								<button id="close_customer_add" type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">Close</button>
								<button id="submit_customer_add" onclick="submit_manager_add_click(this)" type="button"
									class="btn btn-primary">Create</button>
							</div>
						</div>

					</div>
					<div class="modal-footer">

					</div>
				</div>
			</div>

		</div>

		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row clearfix">
						<div class="col-md-10">
							<div class="heading-block border-0">
								<div class="icon-user-circle"> Manager:<strong id="manager_name"
										data-value="<%=username%>">
										<%=username%>
									</strong></div>
								<h3>Welcome to the shop management system</h3>
							</div>
							<div class="clear"></div>
							<div class="row clearfix">
								<div class="col-lg-12">
									<div class="tabs" id="tabs-profile">
										<div class="tab-container">
											<div class="clearfix ui-tabs-panel ui-corner-bottom ui-widget-content"
												id="tab-table" role="tabpanel">
												<p>Store Product Information Interface</p>
												<div class="table-responsive">
													<table id="datatable1" class="table table-hover">
														<thead>
															<tr>
																<th id="th_id" style="width: 5%">#</th>
																<th id="th_name" style="width: 10%">Name</th>
																<th id="th_image" style="width: 15%">Image</th>
																<th id="th_price" style="width: 5%">Price</th>
																<th id="th_inventory" style="width: 10%">Inventory</th>
																<th id="th_description" style="width: 20%">Description
																</th>
																<th id="th_type" style="width: 5%">Type</th>
																<th id="th_issale" style="width: 10%">Is sale</th>
																<th id="th_btn" style="width: 20%">#</th>
															</tr>
														</thead>
														<tbody class="table-group-divider">
															<% item_list.forEach(item=> { %>
																<% if (item.is_sale===true ) { %>
																	<tr>
																		<% } else { %>
																	<tr style="color: #d1cccc">
																		<% } %>
																			<td class="td_product_id"
																				data-value="<%= item._id %>">
																				<%= item._id %>
																			</td>
																			<td class="editable"
																				data-field="product_name"
																				data-value="<%= item.product_name %>"
																				original-data-value="<%= item.product_name %>">
																				<%= item.product_name %>
																			</td>
																			<td>
																				<div id="carouselExampleControlsNoTouching<%= item._id %>"
																					class="carousel slide"
																					data-bs-touch="false"
																					data-bs-interval="false">
																					<div class="carousel-inner"
																						style="margin: auto">
																						<% img_list.forEach(img=> { %>
																							<% if(img.product_id===item._id){
																								%>
																								<% img.images.forEach((i,
																									index)=> { %>
																									<% if (index===0) {
																										%>
																										<div
																											class="carousel-item active">
																											<img src="<%= i %>"
																												class="d-block"
																												alt="...">
																										</div>
																										<% } else { %>
																											<div
																												class="carousel-item">
																												<img src="<%= i %>"
																													class="d-block"
																													alt="...">
																											</div>
																											<% } %>
																												<%});%>
																													<%}%>
																														<%});
																															%>
																					</div>
																					<button
																						class="carousel-control-prev"
																						type="button"
																						data-bs-target="#carouselExampleControlsNoTouching<%= item._id %>"
																						data-bs-slide="prev">
																						<span
																							class="carousel-control-prev-icon"
																							aria-hidden="true"></span>
																						<span
																							class="visually-hidden">Previous</span>
																					</button>
																					<button
																						class="carousel-control-next"
																						type="button"
																						data-bs-target="#carouselExampleControlsNoTouching<%= item._id %>"
																						data-bs-slide="next">
																						<span
																							class="carousel-control-next-icon"
																							aria-hidden="true"></span>
																						<span
																							class="visually-hidden">Next</span>
																					</button>
																				</div>
																			</td>
																			<td class="editable" data-field="sale_price"
																				data-value="<%= item.sale_price %>"
																				original-data-value="<%= item.sale_price %>">
																				$<%= item.sale_price %>
																			</td>
																			<td class="editable"
																				data-field="inventory_amount"
																				data-value="<%= item.inventory_amount %>"
																				original-data-value="<%= item.inventory_amount %>">
																				<%= item.inventory_amount %>
																			</td>
																			<td class="editable"
																				data-field="product_description"
																				data-value="<%= item.product_description %>"
																				original-data-value="<%= item.product_description %>">
																				<%= item.product_description %>
																			</td>
																			<td data-value="<%= item.product_type %>">
																				<%= item.product_type %>
																			</td>
																			<td data-value="<%= item.is_sale %>">
																				<%= item.is_sale %>
																			</td>
																			<td>
																				<% if (item.is_sale===true ) { %>
																					<a href="#"
																						onclick="edit_product(this)"
																						class="button button-border button-rounded button-blue button-small btn-disabled"><i
																							class="icon-line-edit"
																							disabled></i>Commit
																						Changes</a>
																					<a href="#"
																						onclick="delete_product(this)"
																						class="button button-border button-rounded button-red button-small"><i
																							class="icon-line-trash-2"></i>Delete</a>
																					<% } else { %>
																						<a href="#"
																							onclick="resale_product(this)"
																							class="button button-border button-rounded button-green button-small"><i
																								class="icon-repeat"></i>Sale
																							again</a>
																						<% } %>
																			</td>
																	</tr>
																	<% }); %>
														</tbody>
													</table>

												</div>
											</div>
											<div class="clearfix ui-tabs-panel ui-corner-bottom ui-widget-content hidetab"
												id="tab-chart" role="tabpanel" aria-hidden="true">
												<p>This is the customer management interface, where you as a manager
													can add and delete the customer you lead, as well as modify their
													information and last_order.</p>
												<div class="table-responsive">
													<table id="datatable2" class="table table-hover">
														<thead>
															<tr>
																<th id="th_customer_id" style="width: 5%">#</th>
																<th id="th_customer_name" style="width: 15%">Name</th>
																<th id="th_customer_password" style="width: 15%">
																	Password</th>
																<th id="th_customer_email" style="width: 15%">Email
																</th>
																<th id="th_customer_jobtitle" style="width: 5%">
																	Total Orders</th>
																<th id="th_customer_storename" style="width: 10%">
																	Total Expense</th>
																<th id="th_customer_storename" style="width: 15%">
																	Last Order Date</th>
																<th id="th_customer_btn" style="width: 20%">#</th>
															</tr>
														</thead>
														<tbody class="table-group-divider">
															<% customer_list.forEach(item=> { %>
																<tr>
																	<td class="td_customer_id">
																		<%= item._id %>
																	</td>
																	<td>
																		<%= item.customer_name %>
																	</td>
																	<td>
																		<%= item.customer_password %>
																	</td>
																	<td>
																		<%= item.customer_email %>
																	</td>
																	<td>
																		<%= item.total_orders %>
																	</td>
																	<td>
																		$<%= item.total_expense %>
																	</td>
																	<td>
																		<%= item.last_order %>
																	</td>
																	<td>
																		<a href="#" onclick="edit_customer(this)"
																			class="button button-border button-rounded button-blue button-small"
																			data-bs-toggle="modal"
																			data-bs-target="#modal_customer_edit"><i
																				class="icon-line-edit"></i>Edit</a>
																		<!-- Commented out delete button -->
																	</td>
																</tr>
																<% }); %>
														</tbody>
													</table>

												</div>

											</div>
											<div class="clearfix ui-tabs-panel ui-corner-bottom ui-widget-content hidetab"
												id="tab-profile" role="tabpanel" aria-hidden="true">
												<p>This is the orders management interface, where you as a manager
													can update the order status and check the all orders information.
													Besides,
													a manager can cancel an order if needed.
												</p>
												<div class="table-responsive" style="overflow-x:hidden">
													<table id="datatable3" class="table">
														<thead>
															<tr>
																<th id="th_order_id" style="width: 10%">Order id</th>
																<th id="th_product_id" style="width: 15%">Product id
																</th>
																<th id="th_product_name" style="width: 10%">Product name
																</th>
																<th id="th_product_type" style="width: 5%">Product type
																</th>
																<th id="th_sale_price" style="width: 5%">Sale price</th>
																<th id="th_quantity" style="width: 5%">Quantity</th>
																<th id="th_total_price" style="width: 5%">Total price
																</th>
																<th id="th_order_date" style="width: 10%">Order time
																</th>
																<th id="th_address" style="width: 15%">Address</th>
																<th id="th_order_status" style="width: 10%">Order status
																</th>
																<th id="th_btn" style="width: 10%">#</th>
															</tr>
														</thead>
														<tbody class="table-group-divider">
															<% let backgroundColor=true %>
																<% order_list.forEach((order, index)=> { %>
																	<% if (order.tag===1) { %>
																		<% backgroundColor=!backgroundColor %>
																			<% } %>

																				<% if(backgroundColor){ %>
																					<tr>
																						<% }else{ %>
																					<tr
																						style="background-color: rgb(246, 246, 246);">
																						<% } %>
																							<% if (order.tag===1) { %>
																								<td rowspan="<%= order.product_rows %>"
																									class="td_order_id"
																									data-value="<%= order.order_id %>">
																									<%= order.order_id
																										%>
																								</td>
																								<% } %>
																									<td
																										style="padding-bottom: 20px;padding-top: 20px;">
																										<span
																											class="product-id d-inline-block"
																											tabindex="0"
																											data-bs-toggle="popover"
																											data-bs-trigger="hover focus"
																											data-bs-content="<%= order.product_id._id.toString() %>">
																											...<%=
																												order.product_id._id.toString().substring(order.product_id._id.toString().length
																												- 5) %>
																										</span>
																									</td>
																									<td>
																										<%= order.product_name
																											%>
																									</td>
																									<td>
																										<%= order.product_type
																											%>
																									</td>
																									<td>$<%= order.sale_price
																											%>
																									</td>
																									<td>
																										<%= order.quantity
																											%>
																									</td>
																									<% if
																										(order.tag===1)
																										{ %>
																										<td
																											rowspan="<%= order.product_rows %>">
																											$<%= order.total_price
																												%>
																										</td>
																										<td
																											rowspan="<%= order.product_rows %>">
																											<%= order.formatcreatedAt
																												%>
																										</td>
																										<td
																											rowspan="<%= order.product_rows %>">
																											<%= order.address
																												%>
																										</td>
																										<td
																											rowspan="<%= order.product_rows %>">
																											<%= order.order_status
																												%>
																										</td>
																										<td
																											rowspan="<%= order.product_rows %>">
																											<div>
																												<a onclick="order_shipped(this)"
																													style="opacity: 70%; width: 100%"
																													href="#"
																													class="button button-border button-border-thin button-green"><i
																														class="icon-ok"></i>Order
																													Shipped</a>
																											</div>
																											<div>
																												<a onclick="order_canceled(this)"
																													style="opacity: 70%; width: 100%"
																													href="#"
																													class="button button-border button-border-thin button-red"><i
																														class="icon-warning-sign"></i>Order
																													Unavailable</a>
																											</div>
																										</td>
																										<% } %>
																					</tr>
																					<% }); %>
														</tbody>
													</table>
												</div>
											</div>

											<div class="clearfix ui-tabs-panel ui-corner-bottom ui-widget-content hidetab"
												id="tab-plot" role="tabpanel" aria-hidden="true">
												<p>Order Statistics Analysis.</p>
												<div class="row">
													<div class="col-md-6">
														<canvas id="myChart1" width="500px" height="500px"></canvas>
													</div>
													<div class="col-md-6">
														<canvas id="myChart2" width="500px" height="500px"></canvas>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="w-100 line d-block d-md-none"></div>
						<div class="col-md-2">
							<div class="list-group tabs">
								<a id="tab0" href="#"
									class="list-group-item list-group-item-action d-flex justify-content-between">
									<div>Products Manage</div><i class="icon-shop"></i>
								</a>
								<a href="#"
									class="list-group-item list-group-item-action d-flex justify-content-between"
									data-bs-toggle="modal" data-bs-target="#modal_add">
									<div>New product</div><i class="icon-file-add"></i>
								</a>
								<a id="tab1" href="#"
									class="list-group-item list-group-item-action d-flex justify-content-between">
									<div>Customers Manage</div><i class="icon-line-users"></i>
								</a>
								<a href="#"
									class="list-group-item list-group-item-action d-flex justify-content-between"
									data-bs-toggle="modal" data-bs-target="#modal_customer_add">
									<div>New manager</div><i class="icon-credit-cards"></i>
								</a>
								<a id="tab2" href="#"
									class="list-group-item list-group-item-action d-flex justify-content-between">
									<div>Orders Manage</div><i class="icon-line-truck"></i>
								</a>
								<a id="tab3" href="#"
									class="list-group-item list-group-item-action d-flex justify-content-between">
									<div>Statistics</div><i class="icon-chart-bar1"></i>
								</a>
								<a href="#" onclick="btnlogout(this)"
									class="list-group-item list-group-item-action d-flex justify-content-between">
									<div>Logout</div><i class="icon-line2-logout"></i>
								</a>
							</div>
							<div class="fancy-title topmargin title-border">
								<h4>About Me</h4>
							</div>
							<div
								style="border: 1px solid #4d4d4d; border-radius: 6px; padding-left: 1em;padding-top: 0.85em;padding-right: 1em;padding-bottom: 0.85em;">
								Welcome to the admin interface, where you can manage
								all products, orders and customer information. We hope you have a good experience!</div>
							<div class="fancy-title topmargin title-border">
								<h4>Social Profiles</h4>
							</div>
							<a href="https://github.com/AmazingYanyan/WEB-final" class="social-icon si-facebook si-small si-rounded si-light" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							<a href="https://github.com/AmazingYanyan/WEB-final" class="social-icon si-gplus si-small si-rounded si-light" title="Google+">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
							<a href="https://github.com/AmazingYanyan/WEB-final" class="social-icon si-dribbble si-small si-rounded si-light" title="Dribbble">
								<i class="icon-dribbble"></i>
								<i class="icon-dribbble"></i>
							</a>
							<a href="https://github.com/AmazingYanyan/WEB-final" class="social-icon si-flickr si-small si-rounded si-light" title="Flickr">
								<i class="icon-flickr"></i>
								<i class="icon-flickr"></i>
							</a>
							<a href="https://github.com/AmazingYanyan/WEB-final" class="social-icon si-linkedin si-small si-rounded si-light" title="LinkedIn">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
							<a href="https://github.com/AmazingYanyan/WEB-final" class="social-icon si-twitter si-small si-rounded si-light" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
						</div>
					</div>

				</div>
			</div>
		</section><!-- #content end -->

		<!-- Footer
    ============================================= -->
		<footer id="footer" class="dark">
			<!-- Copyrights
        ============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row col-mb-30">

						<div class="col-md-6 text-center text-md-start">
							2560 NETWORK & WEB DATA TECHNLGIES FINAL PRJECT--------------------------------<br>
						</div>

						<div class="col-md-6 text-center text-md-end">

							<span>Authors: </span>Yo-Hsin<span class="middot">&middot;</span> Mawadah<span
							class="middot">&middot;</span> Edgar<span class="middot">&middot;</span> Yanyan
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<a style="display: none" id="btn_update_products_from_db"></a>

	<a href="#" id="notifications-success-edit" style="display: none" data-notify-position="bottom-center"
		data-notify-type="success" data-notify-msg="<i class='icon-ok-sign me-1'></i> <strong>Edit Success!</strong>"
		onclick="SEMICOLON.widget.notifications({ el: this }); return false;"></a>
	<a href="#" id="notifications-ERROR-db-connection" style="display: none" data-notify-position="bottom-center"
		data-notify-type="error"
		data-notify-msg="<i class='icon-remove-sign me-1'></i> <strong>Database connection error!</strong>"
		onclick="SEMICOLON.widget.notifications({ el: this }); return false;"></a>
	<a href="#" id="notifications-ERROR-unknown" style="display: none" data-notify-position="bottom-center"
		data-notify-type="error" data-notify-msg="<i class='icon-remove-sign me-1'></i> <strong>unknown error</strong>"
		onclick="SEMICOLON.widget.notifications({ el: this }); return false;"></a>
	<a href="#" id="notifications-ERROR" style="display: none" data-notify-position="bottom-center"
		data-notify-type="error" data-notify-msg="<i class='icon-remove-sign me-1'></i> <strong>unknown error</strong>"
		onclick="SEMICOLON.widget.notifications({ el: this }); return false;"></a>
	<a href="#" class="notifications-warning" style="display: none" data-notify-position="bottom-center"
		data-notify-type="warning" data-notify-msg="<i class='icon-warning-sign me-1'></i> Don't try to be too Smart!"
		onclick="SEMICOLON.widget.notifications({ el: this }); return false;"></a>
	<a href="#" id="notifications-success" style="display: none" data-notify-position="bottom-center"
		data-notify-type="success" data-notify-msg="<i class='icon-ok-sign me-1'></i> <strong>Edit Success!</strong>"
		onclick="SEMICOLON.widget.notifications({ el: this }); return false;"></a>
	<!-- JavaScripts
============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/plugins.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/components/bs-filestyle.js"></script>
	<script src="js/components/bs-datatable.js"></script>
	<!-- Footer Scripts
============================================= -->
	<script src="js/functions.js"></script>

	<script type="text/javascript">
		var local_cookies = {};
		$(function () {
			// local_cookies['manager_name'] = document.cookie['username'];
			// local_cookies['manager_id'] = document.cookie['managerid'];
			$("#btn_update_products_from_db").click();
			// console.log(local_cookies);
		})

		$("#btn_update_products_from_db").click(function () {
			var data = {
				'request_type': 'update_products'
			}
			$.ajax({
				type: "GET",
				dataType: "json",
				contentType: "application/json",
				url: "/management/refresh",
				data: data,
				success: function (result) {
					if (result.code === 200) {
						local_cookies.img_list = result.img_list;
						local_cookies.product_list = result.product_id;
						localStorage.setItem('img_list', result.img_list);
						// console.log(local_cookies);
					}
					else {
						$("#notifications-ERROR-db-connection").click();
					}
				},
				error: function (result) {
					$("#notifications-ERROR-db-connection").click();
				}
			})
		});

		var tab_indexs = ["tab0", "tab1", "tab2", "tab3"];
		var tab_list = [];
		tab_list.push($("#tab-table"));
		tab_list.push($("#tab-chart"));
		tab_list.push($("#tab-profile"));
		tab_list.push($("#tab-plot"));
		function hide(tab) {
			if (tab.hasClass("showtab")) {
				tab.removeClass("showtab");
				tab.attr("aria-hidden", "true")
			}
			if (!tab.hasClass("hidetab")) {
				tab.addClass("hidetab");
				tab.attr("aria-hidden", "true")
			}
		}
		function show(tab) {
			if (tab.hasClass("hidetab")) {
				tab.removeClass("hidetab");
				tab.attr("aria-hidden", "false")
			}
			if (!tab.hasClass("showtab")) {
				tab.addClass("showtab");
				tab.attr("aria-hidden", "false")
			}
		}

		function showtab(index) {

			for (i = 0; i < tab_list.length; i++) {
				if (i === index) {
					show(tab_list[i]);
				}
				else {
					hide(tab_list[i]);
				}
			}
		}
		$("#tab0").click(function () {
			showtab(0);
			$('#datatable1').dataTable();
		})
		$("#tab1").click(function () {
			showtab(1);
			$('#datatable2').dataTable();
		})
		$("#tab2").click(function () {
			showtab(2);
			$('#datatable3').dataTable();
		})
		$("#tab3").click(function () {
			showtab(3);
			$('#datatable4').dataTable();

			let data = {
				'manager_name': $('#manager_name').attr('data-value')
			}
			$.ajax({
				type: "GET",
				dataType: "json",
				contentType: "application/json",
				url: "/management/plot",
				data: data,
				success: function (result) {
					if (result.code === 200) {
						drawTopProductsChart(result.topProductsData);
						drawDailySalesChart(result.dailySales);
					} else {
						$("#notifications-ERROR-db-connection").click();
					}
				}
			});
		})

		function drawDailySalesChart(data) {
			const canvas = document.getElementById('myChart2');
			const ctx = canvas.getContext('2d');

			const chartWidth = canvas.width;
			const chartHeight = canvas.height;
			const maxValue = Math.max(...data.map(item => item.totalQuantity));
			const scale = (chartHeight - 100) / maxValue;

			ctx.clearRect(0, 0, chartWidth, chartHeight);

			ctx.fillStyle = '#333';
			ctx.font = '20px Arial';
			ctx.fillText('Daily Sales (Last 5 Days)', chartWidth / 2 - 100, 30);

			ctx.font = '16px Arial';
			ctx.fillStyle = '#333';
			ctx.textAlign = 'center';

			data = data.sort((a, b) => new Date(a.date) - new Date(b.date));

			for (let i = 0; i < data.length; i++) {
				let x = (chartWidth / 6) * (i + 1);
				ctx.fillText(formatDate(data[i].date), x, chartHeight - 30);
			}

			ctx.beginPath();
			ctx.strokeStyle = '#3498db';
			ctx.lineWidth = 3;
			data.forEach((item, index) => {
				const x = (chartWidth / 6) * (index + 1);
				const y = chartHeight - (item.totalQuantity * scale) - 20; 
				if (index === 0) ctx.moveTo(x, y);
				else ctx.lineTo(x, y);
			});
			ctx.stroke();

			ctx.font = '12px Arial';
			data.forEach((item, index) => {
				const x = (chartWidth / 6) * (index + 1);
				const y = chartHeight - (item.totalQuantity * scale) - 20; 

				ctx.beginPath();
				ctx.arc(x, y, 5, 0, Math.PI * 2);
				ctx.fillStyle = '#2ecc71';
				ctx.fill();

				ctx.fillStyle = '#333';
				ctx.fillText(item.totalQuantity, x, y - 10);
			});
			ctx.rotate(-Math.PI / 2);
			ctx.textAlign = 'right';
			ctx.fillText('Quantity', -50, 30);
			ctx.restore();
		}

		function formatDate(date) {
			const d = new Date(date);
			return `${d.getMonth() + 1}/${d.getDate()}`;
		}

		function drawTopProductsChart(data) {
			const canvas = document.getElementById('myChart1');
			const ctx = canvas.getContext('2d');

			const chartWidth = canvas.width;
			const chartHeight = canvas.height;
			const barWidth = 50;
			const barGap = 10;
			const maxValue = Math.max(...data.map(item => item.totalQuantity));
			const scale = (chartHeight - 50) / maxValue;
			ctx.clearRect(0, 0, chartWidth, chartHeight);
			data.forEach((item, index) => {
				const barHeight = item.totalQuantity * scale;
				const x = (barWidth + barGap) * index;
				const y = chartHeight - barHeight - 20;
				ctx.fillStyle = '#1abc9c';
				ctx.fillRect(x, y, barWidth, barHeight);

				ctx.fillStyle = '#000';
				ctx.textAlign = 'center';
				ctx.fillText(item.productName, x + barWidth / 2, chartHeight - 5);

				ctx.fillStyle = '#000';
				ctx.fillText(item.totalQuantity, x + barWidth / 2, y - 5);
			});

			ctx.save();
			ctx.translate(20, chartHeight / 2);
			ctx.rotate(-Math.PI / 2);
			ctx.textAlign = 'center';
			ctx.fillText('Quantity', 0, 0);
			ctx.restore();

			ctx.textAlign = 'center';
			ctx.fillText('Top 5 Products Sales', chartWidth / 2, 20);
		}

		$(document).ready(function () {
			$('#datatable1').dataTable();
			$('[data-bs-toggle="popover"]').popover();

			var previouslyClickedTh = null;
			$('#datatable1 th').click(function () {
				if (previouslyClickedTh != this) {
					$(previouslyClickedTh).removeClass('bold-text');
					$(this).addClass('bold-text');
					previouslyClickedTh = this;
				}
			});


			$(".editable").dblclick(function () {
				var originalContent = $(this).attr("data-value");
				var value = $(this).attr('data-value');
				if ($(this).attr("data-field") == 'sale_price' || $(this).attr("data-field") == 'inventory_amount') {
					$(this).html("<textarea style=\"text-align: center;vertical-align: middle;\" rows=\"2\" cols=\"3\" value='" + originalContent + "' >" + value);
				} else if ($(this).attr("data-field") == 'product_description') {
					$(this).html("<textarea rows=\"4\" cols=\"15\" value='" + originalContent + "' >" + value);
				} else {
					$(this).html("<textarea style=\"text-align: center;vertical-align: middle;\" rows=\"4\" cols=\"5\" value='" + originalContent + "' >" + value);
				}
				$(this).children("textarea").focus();

			});

			$(".editable").on("blur", "textarea", function () {
				var newContent = $(this).val();
				var parent = $(this).parent();
				const btn_edit = parent.parent().find('.button-blue');
				if (parent.attr('data-field') == 'sale_price') {
					newContent = newContent.replace(/\$/g, '');
					parent.text('$' + newContent);
				} else {
					parent.text(newContent);
				}
				parent.attr("data-value", newContent);
				if (parent.attr('data-value') == parent.attr('original-data-value')) {
					btn_edit.addClass('btn-disabled');
					btn_edit.prop('disabled', true);
				} else {
					btn_edit.removeClass('btn-disabled');
					btn_edit.prop('disabled', false);
				}
			});
		});

		function btnlogout(self) {
			var data = {
				'request_type': 'log-out'
			};
			$.ajax({
				type: "GET",
				dataType: "json",
				contentType: "application/json",
				url: "/login-manager",
				data: data,
				success: function (result) {
					if (result.code === 200) {
						$("#notifications-success").attr('data-notify-msg', '<i class=\'icon-ok-sign me-1\'></i> <strong>Log Out Successfully!</strong')
						$("#notifications-success").click();
						setTimeout(function () {
							window.location.href = "/login-manager";
						}, 500);
					}
				}
			});
		}

		$("#input-edit-img").fileinput({
			required: true,
			browseClass: "btn btn-secondary",
			browseIcon: "",
			removeClass: "btn btn-danger",
			removeLabel: "",
			removeIcon: "<i class='icon-trash-alt1'></i>",
			showUpload: false
		});

		$("#input-add-img").fileinput({
			required: true,
			browseClass: "btn btn-secondary",
			browseIcon: "",
			removeClass: "btn btn-danger",
			removeLabel: "",
			removeIcon: "<i class='icon-trash-alt1'></i>",
			showUpload: false
		});

		function stringformat() {
			if (arguments.length === 0) {
				return null;
			}
			var str = arguments[0];
			for (var i = 1; i < arguments.length; i++) {
				var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
				str = str.replace(re, arguments[i]);
			}
			return str;
		}

		function resale_product(self) {
			var tr = $(self).parent().parent();
			var td = tr.children(".td_product_id");
			var product_id = td.attr('data-value');

			var data = {
				'product_id': product_id,
				'request_type': 'sql_resale_product'
			}
			// --post--
			$.ajax({
				type: "put",
				dataType: "json",
				contentType: "application/json",
				url: "/management/resale",
				data: JSON.stringify(data),
				success: function (result) {
					if (result.code === 200) {
						$("#notifications-success").attr('data-notify-msg', '<i class=\'icon-ok-sign me-1\'></i> <strong>Product re-sale successfully!</strong')
						$("#notifications-success").click();
						window.location.reload(true);
					}
					else {
						$("#notifications-ERROR-db-connection").click();
					}
				},
				error: function (result) {
					$("#notifications-ERROR-unknown").click();
				}
			})
		}

		function delete_product(self) {
			var tr = $(self).parent().parent();
			var td = tr.children(".td_product_id");
			var product_id = td.attr('data-value');

			var data = {
				'product_id': product_id,
				'request_type': 'sql_delete_product'
			}
			// --post--
			$.ajax({
				type: "PUT",
				dataType: "json",
				contentType: "application/json",
				url: "/management/delete",
				data: JSON.stringify(data),
				success: function (result) {
					if (result.code === 200) {
						$("#notifications-success").attr('data-notify-msg', '<i class=\'icon-ok-sign me-1\'></i> <strong>Delete success!</strong')
						$("#notifications-success").click();
						window.location.reload(true);
					}
					else {
						$("#notifications-ERROR-db-connection").click();
					}
				},
				error: function (result) {
					$("#notifications-ERROR-unknown").click();
				}
			})

		}

		function submit_product_add_click(self) {
			var formData = new FormData();
			formData.append('product_name', $("#input-add-name").val());
			formData.append('product_image', document.getElementById("input-add-img").files[0]); // Attach the file
			formData.append('sale_price', $("#input-add-price").val());
			formData.append('inventory_amount', $("#input-add-inventory").val());
			formData.append('product_type', $("#input-add-type").val());
			formData.append('is_sale', $("input[name='input-add-issale']:checked").val());
			formData.append('product_description', $("#input-add-des").val());
			formData.append('request_type', 'sql_add_product');

			// --post--
			$.ajax({
				type: "POST",
				url: "/management/newproduct",
				data: formData,
				processData: false,
				contentType: false,
				success: function (result) {
					if (result.code === 200) {
						$("#notifications-success").attr('data-notify-msg', '<i class=\'icon-ok-sign me-1\'></i> <strong>Successfully Create A Product!</strong')
						$("#notifications-success").click();
						setTimeout(function () {
							window.location.reload(true);
						}, 500)
					}
					else if (result.code === 501) {
						// edit violate db rules
					}
					else {
						$("#notifications-ERROR-db-connection").click();
					}
				},
				error: function (result) {
					$("#close_product_edit").click();
					$("#notifications-ERROR-unknown").click();
				}
			})
		}

		function edit_product(self) {
			var tr = $(self).parent().parent();
			var td = tr.children(".td_product_id");
			var product_id = td.attr('data-value');
			var product_name = td.next().attr('data-value');
			var product_image;
			var img_list = localStorage.img_list;
			for (i = 0; i < local_cookies['img_list'].length; i++) {
				console.log(local_cookies[i])
				if (product_id === local_cookies['img_list'][i][0]) {
					product_image = local_cookies['img_list'][i][1];
				}
			}
			var sale_price = td.next().next().next().attr('data-value');
			var inventory_amount = td.next().next().next().next().attr('data-value');
			var product_description = td.next().next().next().next().next().attr('data-value');
			var product_type = td.next().next().next().next().next().next().attr('data-value');
			var is_sale = td.next().next().next().next().next().next().next().attr('data-value');
			console.log({
				'product_id': product_id,
				'product_name': product_name,
				'product_image': product_image,
				'sale_price': sale_price,
				'inventory_amount': inventory_amount,
				'product_description': product_description,
				'product_type': product_type,
				'is_sale': is_sale
			});

			var product_name2 = td.next().attr('original-data-value');
			var sale_price2 = td.next().next().next().attr('original-data-value');
			var inventory_amount2 = td.next().next().next().next().attr('original-data-value');
			var product_description2 = td.next().next().next().next().next().attr('original-data-value');
			var data_list = {};
			if (product_name2 !== product_name) {
				data_list['product_name'] = stringformat("{0}", product_name);
			}
			if (sale_price2 !== sale_price) {
				data_list['sale_price'] = sale_price;
			}
			if (inventory_amount2 !== inventory_amount) {
				data_list['inventory_amount'] = inventory_amount;
			}
			if (product_description2 !== product_description) {
				data_list['product_description'] = stringformat("{0}", product_description);
			}
			var length = Object.keys(data_list).length;
			console.log(data_list);
			if (length != 0) {
				data_list['request_type'] = 'sql_alter_product';
				data_list['product_id'] = product_id;

				// --post--
				$.ajax({
					type: "PUT",
					dataType: "json",
					contentType: "application/json",
					url: "/management/editproduct",
					data: JSON.stringify(data_list),
					success: function (result) {
						if (result.code === 200) {
							$("#notifications-success-edit").click();
							$("#close_product_edit").click();
							$("#submit_product_edit").unbind("click");
							setTimeout(function () {
								window.location.reload(true);
							}, 500)
						}
						else {
							$("#notifications-ERROR-db-connection").click();
						}
					},
					error: function (result) {
						$("#close_product_edit").click();
						$("#submit_product_edit").unbind("click");

						$("#notifications-ERROR-unknown").click();
					}
				});
			}
			else {
				$("#close_product_edit").click();
				$("#submit_product_edit").unbind("click");
			}
		}

		function edit_customer(self) {
			var tr = $(self).parent().parent();
			console.log(tr);
			var td = tr.children(".td_customer_id");
			console.log(td);
			var customer_id = td.text().trim();
			var customer_name = td.next().text().trim();
			var customer_password = td.next().next().text().trim();
			var customer_email = td.next().next().next().text().trim();
			var total_orders = td.next().next().next().next().text().trim();
			var total_expense = td.next().next().next().next().next().text().trim();
			var last_order = td.next().next().next().next().next().next().text().trim();
			last_order = last_order.slice(1, last_order.length);
			console.log({
				'customer_name': customer_name,
				'customer_password': customer_password,
				'customer_email': customer_email,
				'total_orders': total_orders,
				'total_expense': total_expense,
				'last_order': last_order
			});
			// var WshShell=new ActiveXObject("WScript.Shell");
			// setTimeout('$("#input-edit-img").focus()',20);
			// WshShell.sendKeys(product_image);

			$("#input-customer-edit-name").val(customer_name);
			$("#input-customer-edit-password").val(customer_password);
			$("#input-customer-edit-email").val(customer_email);

			$("#submit_customer_edit").click(function () {
				var customer_name2 = $("#input-customer-edit-name").val();
				var customer_password2 = $("#input-customer-edit-password").val();
				var customer_email2 = $("#input-customer-edit-email").val();

				var data_list = {};
				if (customer_name2 !== customer_name) {
					data_list['customer_name'] = stringformat("{0}", customer_name2);
				}
				if (customer_password2 !== customer_password) {
					data_list['customer_password'] = stringformat("{0}", customer_password2);
				}
				if (customer_email2 !== customer_email) {
					data_list['customer_email'] = stringformat("{0}", customer_email2);;
				}

				var length = Object.keys(data_list).length;
				console.log(data_list);
				if (length != 0) {
					data_list['request_type'] = 'sql_alter_customer';
					data_list['customer_id'] = customer_id;

					// --put--
					$.ajax({
						type: "PUT",
						dataType: "json",
						contentType: "application/json",
						url: "/management/customer-edit",
						data: JSON.stringify(data_list),
						success: function (result) {
							if (result.code === 200) {
								$("#notifications-success").attr('data-notify-msg', '<i class=\'icon-ok-sign me-1\'></i> <strong>customer info edited!</strong')
								$("#notifications-success").click();
								setTimeout(function () {
									window.location.reload(true);
								}, 250)
							}
							else if (result.code === 501) {
								// edit violate db rules
							}
							else {
								$("#notifications-ERROR-db-connection").click();
							}
						},
						error: function (result) {
							$("#close_product_edit").click();
							$("#submit_product_edit").unbind("click");

							$("#notifications-ERROR-unknown").click();
						}
					})
				}
				else {
					$("#close_product_edit").click();
					$("#submit_product_edit").unbind("click");
					console.log('haha')
				}
			})

		}

		function submit_manager_add_click(self) {
			var manager_name2 = $("#input-manager-add-name").val();
			var manager_password2 = $("#input-manager-add-password").val();
			var manager_email2 = $("#input-manager-add-email").val();
			var data_list = {};
			if (manager_name2 != '') {
				data_list['manager_name'] = stringformat("{0}", manager_name2);
			}
			if (manager_password2 != '') {
				data_list['manager_password'] = stringformat("{0}", manager_password2);
			}
			if (manager_email2 != '') {
				data_list['manager_email'] = stringformat("{0}", manager_email2);
			}

			console.log(data_list);

			// --post--
			$.ajax({
				type: "POST",
				dataType: "json",
				contentType: "application/json",
				url: "/management/newmanager",
				data: JSON.stringify(data_list),
				success: function (result) {
					if (result.code === 200) {
						$("#notifications-success").attr('data-notify-msg', '<i class=\'icon-ok-sign me-1\'></i> <strong>New Manager Created!</strong')
						$("#notifications-success").click();
						setTimeout(function () {
							window.location.reload(true);
						}, 500)
					}
					else {
						$("#notifications-ERROR-db-connection").click();
					}
				},
				error: function (result) {
					$("#close_product_edit").click();
					$("#submit_product_edit").unbind("click");

					$("#notifications-ERROR-unknown").click();
				}
			})
		}


		function order_shipped(self) {
			var order_id = $(self).closest('tr').children('.td_order_id').attr('data-value');

			var data = {
				'order_id': order_id,
				'request_type': 'order_shipped'
			};
			// --post--
			$.ajax({
				type: "PUT",
				dataType: "json",
				contentType: "application/json",
				url: "/management/update-order",
				data: JSON.stringify(data),
				success: function (result) {
					if (result.code === 200) {
						$("#notifications-success").attr('data-notify-msg', '<i class=\'icon-ok-sign me-1\'></i> <strong>Order has been shipped!</strong')
						$("#notifications-success").click();
						setTimeout(function () {
							window.location.reload(true);
						}, 250)
					}
					else {
						$("#notifications-ERROR-db-connection").click();
					}
				},
				error: function (result) {
					$("#notifications-ERROR-unknown").click();
				}
			});
		}

		function order_canceled(self) {
			var order_id = $(self).closest('tr').children('.td_order_id').attr('data-value');
			var data = {
				'order_id': order_id,
				'request_type': 'order_canceled'
			};
			// --post--
			$.ajax({
				type: "PUT",
				dataType: "json",
				contentType: "application/json",
				url: "/management/update-order",
				data: JSON.stringify(data),
				success: function (result) {
					if (result.code === 200) {
						$("#notifications-success").attr('data-notify-msg', '<i class=\'icon-ok-sign me-1\'></i> <strong>Order has been canceled!</strong')
						$("#notifications-success").click();
						setTimeout(function () {
							window.location.reload(true);
						}, 250)
					}
					else {
						$("#notifications-ERROR-db-connection").click();
					}
				},
				error: function (result) {
					$("#notifications-ERROR-unknown").click();
				}
			});
		}

	</script>

</body>

</html>